<div class="page cite-page" layout="row" layout-align="center center">

    <div class="content">
        <div class="main">
            <div class="loading"
                 ng-show="apiResp=='loading'">
                <span class="label">Building your citation&hellip;</span>
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>

            <div class="error" ng-show="apiResp=='error'">
                <h2>Sorry!</h2>
                <div class="text">
                    We weren't able to figure out a citation for this research product.
                    We're in active development and hopefully this particular case will
                    be working soon. Feel free to
                    <a href="mailto:team@impactstory.org">let us know</a> and we'll
                    look into it.
                </div>
            </div>

            <div class="citation animated fadeIn" ng-show="apiResp.citations">

                Style:
                <select ng-model="selectedCitation"
                               ng-options="y.style_fullname for (x, y) in apiResp.citations">
                </select>

                <div class="text" ng-bind-html="selectedCitation.citation">
                </div>

                <div class="controls" layout="row" layout-align="left center">
                    <md-button ng-click="export()">
                        <i class="fa fa-download"></i>
                        Export
                    </md-button>
                    <md-button ng-href="mailto:team@impactstory.org">
                        <i class="fa fa-bullhorn"></i>
                        Report bug
                    </md-button>
                    <md-button ng-href="{{ apiUrl }}">
                        <i class="fa fa-cogs"></i>
                        Show in API
                    </md-button>
                </div>
            </div>

        </div>



    </div>

</div>