<div class="page cite-page">

    <div class="content">
        <div class="main">
            <div class="loading"
                 ng-show="apiResp=='loading'">
                <span class="label">Building your citation&hellip;</span>
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>

            <div class="error" ng-show="apiResp=='error'">
                <h2>Sorry!</h2>
                <div class="text">
                    We weren't able to figure out a citation for this research product.
                    We're in active development and hopefully this particular case will
                    be working soon. Feel free to
                    <a href="mailto:team@impactstory.org">let us know</a> and we'll
                    look into it.
                </div>
            </div>

            <div class="citation animated fadeIn" ng-show="apiResp.citations">
                <div class="heading">
                    <h1>
                        {{ apiResp.name }}
                    </h1>
                    <div class="metadata">
                        <a href="{{ apiResp.url }}"><i class="fa fa-external-link"></i> view website</a>
                    </div>
                </div>


                <div class="citation-options">
                    <span class="label">Cite this project as:</span>
                    <md-input-container>
                        <md-select ng-model="user.selectedCitation">
                            <md-option ng-repeat="myCitationObj in apiResp.citations"
                                       ng-value="myCitationObj">
                            {{ myCitationObj.style_fullname }}
                            </md-option>
                        </md-select>
                    </md-input-container>

                </div>

                <div class="text" ng-bind-html="user.selectedCitation.citation">
                </div>

                <div class="download">
                    <span class="download-links">
                        <span class="download" ng-click="saveAs('endnote')">Endnote</span>
                        <span class="download" ng-click="saveAs('refworks')">Refworks</span>
                        <span class="download" ng-click="saveAs('bibtex')">BibTeX</span>
                    </span>
                </div>





            </div>

        </div>


    </div>

</div>