<div class="page cite-page">

    <div class="content">
        <div class="main">
            <div class="loading"
                 ng-show="apiResp=='loading'">
                <span class="label">Building your citation&hellip;</span>
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>

            <div class="error" ng-show="apiResp=='error'">
                <h2>Sorry!</h2>
                <div class="text">
                    We weren't able to figure out a citation for this research product.
                    We're in active development and hopefully this particular case will
                    be working soon. Feel free to
                    <a href="mailto:team@impactstory.org">let us know</a> and we'll
                    look into it.
                </div>
            </div>

            <div class="citation animated fadeIn" ng-show="apiResp.citations">
                <div class="heading">
                    <h1>
                        {{ apiResp.name }}
                    </h1>
                    <div class="metadata">
                        <a href="{{ apiResp.url }}"><i class="fa fa-external-link"></i> view website</a>
                    </div>
                </div>


                <div class="citation-options">
                    <h2 class="label">Cite this project as:</h2>
                    <md-input-container>
                        <md-select ng-model="user.selectedCitation">
                            <md-option ng-repeat="myCitationObj in apiResp.citations"
                                       ng-value="myCitationObj">
                            {{ myCitationObj.style_fullname }}
                            </md-option>
                        </md-select>
                    </md-input-container>

                </div>

                <div id="citation" class="text" ng-bind-html="user.selectedCitation.citation">
                </div>

                <div class="under-citation">
                    <div class="export-options">

                        <md-button ng-click="copy()" class="md-raised">
                            <i class="fa fa-clipboard"></i>
                            Copy
                        </md-button>


                        <md-menu>
                            <md-button ng-click="openMenu($mdOpenMenu, $event)">
                                <i class="fa fa-download"></i>
                                Download
                            </md-button>

                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-click="saveAs('endnote')">
                                        Endnote
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="saveAs('refworks')">
                                        Refworks
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="saveAs('bibtex')">
                                        BibTeX
                                    </md-button>
                                </md-menu-item>

                            </md-menu-content>
                        </md-menu>

                    </div>



                    <div class="more-actions">
                        <span class="action modify">
                            <a href="" class="action" ng-click="modify()">
                                <i class="fa fa-pencil"></i>
                                Modify
                            </a>
                        </span>
                        <a class="action" href="http://api.citeas.org/product/{{ apiResp.url }}">
                            <i class="fa fa-cog"></i> view in API
                        </a>
                    </div>
                </div>


                <div class="provenance">
                    <h2>Citation Provenance</h2>
                    <div class="steps">
                        <div class="step success-{{ step.has_content }}"
                             ng-hide="(step.parent_step_name == 'UserInputStep' && !step.has_content)"
                             ng-repeat="step in apiResp.provenance">

                            <div class="step-container" ng-show="!$first && !$last">
                                <div class="success-icon true" ng-show="step.has_content">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="success-icon false" ng-show="!step.has_content">
                                    <i class="fa fa-times"></i>
                                </div>

                                <div class="step-info">
                                    <div class="intro">
                                        Looking in the
                                        <span class="parent-step">{{ step.parent_subject }},</span>
                                        we
                                        <span ng-show="step.has_content">found</span>
                                        <span ng-show="!step.has_content">didn't find</span>
                                        <span class="proxy-found" ng-show="step.found_via_proxy_type=='link'">
                                            a link to a
                                        </span>
                                        <span class="proxy-found" ng-show="step.found_via_proxy_type=='doi'">
                                            a DOI.
                                        </span>
                                    </div>

                                    <div class="main">
                                        <span class="name">
                                            {{ step.subject }}
                                        </span>
                                        <a href="" ng-click="stepInfo(step.name)" class="learn-more">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </div>
                                    <div class="url">
                                        <a href="{{ step.content_url }}" ng-show="step.has_content" class="learn-more">
                                            {{ step.content_url }}
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="step-container" ng-show="$last">
                                <div class="success-icon true">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="step-info">
                                    <div class="intro">
                                        Parsing the
                                        <span class="parent-step">{{ step.parent_subject }},</span>
                                        we found
                                    </div>

                                    <div class="main">
                                        <span class="name">
                                            The citation metadata
                                        </span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>





            </div>

        </div>


    </div>

</div>