<div class="page landing">
    <div class="top-screen" layout="row" layout-align="center center">
        <div class="content">
            <div class="tagline">
                <h1>All research products deserve credit.</h1>
                <p class="subtagline">
                    Get the correct citation for diverse research products,
                    from software and datasets to preprints and articles.
                </p>
            </div>


            <div class="user-input">
                <form class="input-row" ng-submit="submit()">
                    <md-input-container md-no-float
                                        class="md-block example-selected-{{ main.exampleSelected }}"
                                        flex-gt-sm="">
                        <label>Paste a URL, DOI, arXiv ID, or any search term (e.g. software
name/abbreviation)</label>
                        <input ng-model="main.id">

                        <md-button ng-show="main.id"
                                   ng-class="{fadeOut: !main.id}"
                                   ng-click="submit()"
                                   class="md-fab md-mini md-primary go animated fadeInRightBig">
                            <i class="fa fa-arrow-right"></i>
                        </md-button>

                        <!--
                        <md-button class="md-raised md-primary submit" type="submit">
                            Get the citation
                        </md-button>
                        -->
                    </md-input-container>
                </form>

                <div class="example">
                    <div class="content">
                        <div class="example-label">Examples:</div>
                        <ul class="examples">
                            <li>
                                <a href="/cite/http://yt-project.org">http://yt-project.org</a>
                            </li>
                            <li>
                                <a href="/cite/https://cran.r-project.org/web/packages/stringr">https://cran.r-project.org/web/packages/stringr</a>
                            </li>
                            <li>
                                <a href="https://github.com/Impactstory/citeas-api/blob/master/README.md">More examples</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>




    </div>

</div>
